<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nom d'utilisateur :</label>
      <input type="text" formControlName="username">
    </div>
    <div>
      <label>Email :</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label>Mot de passe :</label>
      <input type="password" formControlName="password">
    </div>
    <div>
      <label>Rue :</label>
      <input type="text" formControlName="street">
    </div>
    <div>
      <label>Code Postal :</label>
      <input type="text" formControlName="zip">
    </div>
    <div>
      <label>Ville :</label>
      <input type="text" formControlName="city">
    </div>
    <button type="submit">Inscription</button>
  </form>
  
  <h2>Nouvel utilisateur</h2>
<p *ngIf="registeredUser">{{ registeredUser.username }} - {{ registeredUser.email }} - {{ registeredUser.street }} - {{ registeredUser.postalCode }} - {{ registeredUser.city }}</p>
